/* app/globals.css */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --primary: #121C27;
  --accent: #b8c103;
  --blue: #4285F4;
  --neutral: #FAFAFA;
  --input: #f5f5f5;
  --textDark: #1A1A1A;
  --textMuted: #6B7280;
}

body {
  background-color: #FAFAFA;
  color: #1A1A1A;
}